# Nextflow's work directory
work/

# entire genomes and indexes folder
genomes/

# results from the runs
Results/

# Logs

*.log
*.log.*

# Nexftlow files
nextflow/
.nextflow/

# Docker suppl files
get-docker.sh

# Random temporary stuff to be removed later
tempStuff.nf
tutorial.nf
Nextflow_mini.nf
notes.txt
