// Specify your path to the conda environment below
// Path can be found using `conda env list`

process {
	withName: "createJellyfishIndex|blockParse|filteringEndo|filteringExo|checkStrand|kmerFilter|structureCheck|bed2fasta|bed2fastq|sam2bam|sortBam|sortIndexBam|revComplement|probeTm|alignExo" {
		conda = "PATH/TO/ENV/ProbeMakerEnv_python2"
	}
	withName: "createHisat2index|initial_mapping|mappingFinalProbes|fasta2tab" {
		conda = "PATH/TO/ENV/ProbeMakerEnv_python3"
	}
}
