// MODIFY BELOW path to your ProbeMakerEnv_python2 on your computer, for example:
// path_to_ProbeMakerEnv_python2 = "/home/username/anaconda3/envs/ProbeMakerEnv_python2"

path_to_ProbeMakerEnv_python2 = ""



// MODIFY BELOW: path to your ProbeMakerEnv_python3 on your computer, for example:
// path_to_ProbeMakerEnv_python3 = "/home/username/anaconda3/envs/ProbeMakerEnv_python3"

path_to_ProbeMakerEnv_python3 = ""



process {
	withName: "createJellyfishIndex|blockParse|filteringEndo|filteringExo|checkStrand|kmerFilter|structureCheck|bed2fasta|bed2fastq|sam2bam|sortBam|sortIndexBam|revComplement|probeTm|alignExo" {
		conda = "$path_to_ProbeMakerEnv_python2"
	}
	withName: "createHisat2index|initial_mapping|mappingFinalProbes" {
		conda = "$path_to_ProbeMakerEnv_python3"
	}
}
